@use "../../styles/typography.scss";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.mainContainer {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.leftContainer {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rightContainer {
    width: 40%;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 25.75rem;
}

.companyDetails {
    display: flex;
    gap: 1rem;
    align-items: center;

    img {
        width: 2.625rem;
        height: 2.625rem;
    }

    p {
        @include typography.title-1;
        color: #000;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.5rem;

    .title {
        @include typography.title-3;
        color: #000;
        text-align: center;
    }

    .description {
        @include typography.body-2;
        color: #8a92a6;
        line-height: 175%;
        font-size: 0.9rem;
        text-align: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;

    label {
        @include typography.body-2;
        color: #8a92a6;
        line-height: 175%;
        font-size: 0.9rem;
    }
}

.emailConatainer, .passwordContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    input {
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        border: 1px solid var(--B28E00-Dark-Pending, #b28e00);
    }
}

.resetButton, .siginButton {
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: var(--B28E00-Dark-Pending, #b28e00);
    border: none;
    color: #fff;
    width: 11.5rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: var(--B28E00-Dark-Active, #b28e00cb);
    }

}
